.wrapper {
  display: flex;
}

.App {
  font-family: monospace;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

pre {
  white-space: pre-wrap;
}

.table__wrapper {
  width: 50%;
  flex: 1 1 50%;
  overflow: hidden;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 3rem 2rem;
  padding: 1rem;
  position: relative;
  background: #fff;
  z-index: 9999;
}

td {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  margin-top: 0;
}

.short-cell {
  width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
}